@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .sidebar {
    width: 20%;
    background-color: #EE6B2B;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sidebar ul li {
    margin-bottom: 20px;
  }

  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }

  .sidebar ul li a:hover {
    color: #ccc;
  }

  .main-section {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
  }

  .main-section h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }