<!-- arush raj agarwal -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Managment Portal</title>
    <link rel="stylesheet" href="css/dashboard.css" class="css">
    
</head>
<body>
    <div class="sidenav">
        <h2>Managment <br> Portal</h2>
        <div class="sidebar_down">
        <a href="#Dashboard">Dashboard</a>
        <a href="#User">User</a>
        <button class="dropdown-btn">Categories
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/internat">Internationalization</a>
          <a href="/marketing">Marketing And Branding</a>
          <a href="/resourceman">Resource Managment</a>
          <a href="/policyprocess">Policy And Process</a>
          <a href="/focusa">Focus Area(s)</a>
        </div>
        <a href="#Log_Out">Log Out</a>
    </div>
      </div>
      <div class="main-section">
        <h1>Dashboard</h1>
        <p>Welcome to the management portal dashboard.</p>
      </div>

      <script src="css/dashboard.js"></script>
</body>
</html>