<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/login.css" />
    
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <div class="form-section">
          <h1>Sign In</h1>
          <form action="/index" method="POST">
            <input type="text" placeholder="Username" name="Username">
            <input type="password" placeholder="Password" name="Password">
            <input type="submit" value="Login">
          </form>
          <p>New User</p>
          <a href="/register">Register Now</a>
        </div>
        <div class="showcase-image">
          <img src="css/manipal.jpg" alt="Showcase Image">
        </div>
      </div>
    </div>
  </body>
</html>