<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/login.css" />
    
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <div class="form-section">
          <h1>Sign Up</h1>
          <form action="/register" method="POST">
            <input type="text" placeholder="Username" name="Name">
            <input type="password" placeholder="Password" name="Password">
            <input type="con_password" placeholder="Confirm Password" name="confirmPassword">
            <input type="submit" value="Register">
          </form>
        </div>
        <div class="showcase-image">
          <img src="css/manipal.jpg" alt="Showcase Image">
        </div>
      </div>
    </div>
  </body>
</html>
