<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Page</title>
    <link rel="stylesheet" href="css/form_page.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <script src="css/forpage.js"></script>
  </head>
  <body>
    <div id="navbar_form">
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
          >&times;</a
        >
        <a href="/internat">Internationalization</a>
          <a href="/marketing">Marketing And Branding</a>
          <a href="/resourceman">Resource Managment</a>
          <a href="/policyprocess">Policy And Process</a>
          <a href="/focusa">Focus Area(s)</a>
      </div>
      <span onclick="openNav()" style="font-size: 25px">&#9776;</span>
      <p class="navbar_heading">
        Directorate Of <br />International Collaborations
      </p>
    </div>
    <div id="form">
      <div class="container">
            <header>KPI-4 Number of MUJ students participating in exchange programs through MoU(Short/Long Term)</header>
  
          <form action="/KPI4" method="POST">
              <div class="form first">
                  <div class="details personal">
                      <div class="fields">
                          <div class="input-field">
                                <label>Name of University with whom MOU is signed</label>
                                <input type="text" placeholder="Enter name of organization" name="name" required>
                            </div>

                            <div class="input-field">
                                <label>Title of the activity</label>
                                <input type="Text" placeholder="Title of activity" name="activity" required>
                            </div>

                            <div class="input-field">
                                <label>Department</label>
                                <select name="department" required>
                                    <option disabled selected>Select Department</option>
                                    <option>Department of computer science and Engineering</option>
                                    <option>Department of electical and Engineering</option>
                                    <option>Department of Civil Engineering</option>
                                    <option>Department of Business Studies</option>
                                    <option>Department of Commerce</option>
                                    <option>Department of Mechanical Enginnering</option>
                                </select>
                            </div>

                            <div class="input-field">
                                <label>Name of Student</label>
                                <input type="text" placeholder="Enter Student name" name="Studentname" required>
                            </div>

                            <div class="input-field">
                                <label>Registration Number</label>
                                <input type="number" placeholder="Student Reg. No." name="registrationno" required>
                            </div>

                            <div class="input-field">
                                <label>Year of Collab</label>
                                <input type="number" placeholder="Year" name="year" required>
                            </div>
                      </div>
                  </div>
  
                  <div class="details ID">
  
                      <div class="fields">
                          <div class="input-field">
                                <label>Nature of Activity</label>
                                <input type="text" placeholder="Activity" name="nature" required>
                            </div>

                            <div class="input-field">
                                <label>Duration</label>
                                <input type="number" placeholder="Enter duration in years" name="duration" required>
                            </div>

                            <div class="input-field">
                                <label>Link of MoU copy</label>
                                <input type="url" placeholder="Enter issued authority" name="link" required>
                            </div>

                            <div class="input-field">
                                <label>Link of all activities under MoU in PDF</label>
                                <input type="file" placeholder="upload" name="pdf" required>
                            </div>

                            <div class="input-field">
                                <label>Comments</label>
                                <input type="text" placeholder="Enter your comments" name="comments" required>
                                <!-- <textarea name="comments" id="" cols="10" rows="2"></textarea> -->
                            </div>
                      </div>
  
                      <button class="nextBtn">
                          <span class="btnText">Next</span>
                          <i class="uil uil-navigator"></i>
                      </button>
                  </div> 
              </div>
          </form>
      </div>
    </div>
      <script src="forpage.js"></script>

  </body>
</html>
