<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Page</title>
    <link rel="stylesheet" href="css/KPI4.css" />
    <!-- <link rel="stylesheet" href="newformstyle.css"> -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <script src="css/forpage.js"></script>
  </head>
  <body>
    <div id="navbar_form">
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
          >&times;</a
        >
        <a href="/internat">Internationalization</a>
          <a href="/marketing">Marketing And Branding</a>
          <a href="/resourceman">Resource Managment</a>
          <a href="/policyprocess">Policy And Process</a>
          <a href="/focusa">Focus Area(s)</a>
      </div>
      <span onclick="openNav()" style="font-size: 25px">&#9776;</span>
      <p class="navbar_heading">
        Directorate Of <br />International Collaborations
      </p>
    </div>
    <div id="form">
      <div class="container">
          <header>KPI-9 Strategies adopted/Activities conducted for building relationship with Foreign Alumni

        </header>
  
          <form action="#">
              <div class="form first">
                  <div class="details personal">
  
  
                      <div class="fields">
                          <div class="input-field">
                              <label>Name of University</label>
                              <input type="text" placeholder="Enter name of organization" required>
                          </div>
  
                          <div class="input-field">
                              <label>Name of Program Admitted to</label>
                              <input type="text" placeholder="Enter Program" required>
                          </div>
  
                          <div class="input-field">
                              <label>Department</label>
                              <select required>
                                  <option disabled selected>Select Department</option>
                                  <option>Department of computer science and Engineering</option>
                                  <option>Department of electical and Engineering</option>
                                  <option>Department of Civil Engineering</option>
                                  <option>Department of Business Studies</option>
                                  <option>Department of Commerce</option>
                                  <option>Department of Mechanical Enginnering</option>
                              </select>
                          </div>
  
                          <div class="input-field">
                              <label>Program Graduated from</label>
                              <input type="text" placeholder="Enter Progrm" required>
                          </div>
  
                          <div class="input-field">
                              <label>Date</label>
                              <input type="date" placeholder="Enter date" required>
                          </div>
  
                          <div class="input-field">
                            <label>Name of Alumini</label>
                            <input type="text" placeholder="Enter Name" required>
                        </div>
                      </div>
                  </div>
  
                  <div class="details ID">
  
                      <div class="fields">
                          <div class="input-field">
                              <label>Registration no. of Alumini</label>
                              <input type="Number" placeholder="Enter Reg. No." required>
                          </div>
  
  
                          <div class="input-field">
                              <label>Link of all activities under MoU in PDF</label>
                              <input type="file" placeholder="upload" required>
                          </div>
  
                          <div class="input-field">
                              <label>Comments</label>
                              <input type="text" placeholder="Enter your comments" required>
                              <!-- <textarea name="comments" id="" cols="10" rows="2"></textarea> -->
                          </div>
                      </div>
  
                      <button class="nextBtn">
                          <span class="btnText">Save Details</span>
                          <i class="uil uil-navigator"></i>
                      </button>

                     
                        <button class="nextBtn">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                     
                  </div> 
              </div>
  
              
                          
           
                      </div>
                  </div> 
              </div>
          </form>
      </div>
    </div>
      <script src="forpage.js"></script>

  </body>
</html>
