<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internationalization</title>
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
    <div id="body">
    <div id="navbar">
        <img src="css/logo.jpg" alt="Manipal Logo">
        <p class="line1" id="top_right">Directorate Of <br> International Collaborations</p>
    </div>
    <div id="main_page">
        <div class="sidenav">
            <h2>Managment <br> Portal</h2>
            <div class="sidebar_down">
            <a href="/internat">Internationalization</a>
          <a href="/marketing">Marketing And Branding</a>
          <a href="/resourceman">Resource Managment</a>
          <a href="/policyprocess">Policy And Process</a>
          <a href="/focusa">Focus Area(s)</a>
            </div>
          </div>

    <div id="links">
        <ul>
        <li><a href="#">Have Defined Policies for new & existing MoUs? (Yes or No)</a></li>
        <li><a href="#">Establishment of Task Force/Global Committees with Partnered Institutions for having a global culture</a></li>
        <li><a href="#">No of awareness program conducted for departments regarding processes.</a></li>
        </ul>
    </div>
    </div>
    </div>
</body>
</html>